@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

h1, h3 {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 30px;
    font-weight: 700;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
}

.home li{
    list-style: none;
    margin-top: 10px;
}

a:hover{
    text-decoration: none;
    font-weight: 700;
}

.tabla{
    text-align: center;
    font-size: 0.9em;
}

.com-selected{
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: solid 2px #047AFB;
    border-radius: 10px;
}